backend/og/uwsgi_params
cannabiscamp/README.md
backend/og/db.sqlite3
backend/og/atomCore/migrations/
front/cannabiscamp/nohup.out
cannabiscamp/media/
cannabiscamp/tmp/
deploy/*/*
backend/og/*/migrations/*
.ssh/*
*.log
*.o
*.a
*.pyc
*.pye
*.pro.user
*.DS_Store
*/*/.DS_Store
*.iml
*.common
*.pem
.idea
.environment_settings
*.project
bin
gen
obj
*.egg
.vscode
*.egg-info/
.installed.cfg
.python-version
mysql/*