{% load static %}
<section id="about" class="about">
    <div class="container-fluid pt-5">
        <h3 class="section-header">
            <span class="c-red">A</span>ccess
            <p class="text-h7">アクセス情報</p>
        </h3>
        <div class="row mt-5">
            <div class="col-xl-4 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-3">
                <p class="plan-card--title">
                    住所
                </p>
                <p class="plan-card--text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </p>
                <hr>
                <p class="plan-card--title">
                    公共交通機関でのアクセス
                </p>
                <p class="plan-card--text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </p>
                <hr>
                <p class="plan-card--title">
                    お車でのアクセス
                </p>
                <p class="plan-card--text">
                    ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
                </p>
            </div>
            <div class="col-xl-4 offset-xl-0 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12 mb-3">
                <div class="text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25923.10968784027!2d139.72178!3d35.692051!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1687354645494!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>