{% load static %}
<section id="features" class="features mb-5">
    <div class="container-fluid pt-5">
        <h3 class="section-header">
            USER GUIDE
        </h3>
        <div class="row mt-5">
            <div class="col">
                {% include 'common/component/table/cancel_policy.html' %}
                
                <div class="text-center mt-4">
                    <a href="" class="btn btn-rg btn-red text-h5 mr-3 pl-5 pr-5 pt-3 pb-3 rounded-pill tazugane-medium shadow-sm">
                        ご予約はこちら
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>