{% load static %}
<section id="section-keyvisual" class="section-keyvisual" style="background-image:url({% static 'asset/img/photo/sample1.jpg' %});background-size: cover;">
    <div class="contaienr-fluid">
        <div class="row">
            <div class="col-xl-6 text-center offset-xl-3 col-6 offset-3">
                <p class="top-message-title c-white mb-0 pb-0">
                    {{ title }}
                </p>
                <small class="text-h6 c-white">
                    {{ subtitle }}
                </small>
            </div>
        </div>
    </div>
</section>