/* White */
$white:#ffffff;

/* Black */
$black: black;

$red:#CD1F1D;

$yellow:#fed330;

$light-blue:#70C5CA;

$blue:#4194A2;

$dark-blue:#22447B;

$lime:#b8ed55;

$light-green:#A5B299;

$green:#90AF70;

$dark-green:#395C61;

$super-light-gray:#F9F9F9;

$light-gray:#f7f7f7;

$gray: #95a5a6;

$dark-gray: #333333;

$light-navy:#253368;

$navy:#14162F;

$facebook:#3b5998;

$twitter:#00acee;

$orange:#EB5E31;

$light-brown:#D37A53;

/* for review page */

$cream:#fff2dc;

$sky-blue:#d9f3ff;


/* opacity */
$mainColor: 87%;

$subColor: 60%;

$disabledColor: 38%;

