/* inport fonts */
	
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* font-family */

$noto-sans: "Noto Sans Mono CJK JP";


/* font size */

$text-h1: 5.552rem;

$text-h2: 3.752rem;

$text-h3: 3.352rem;

$text-h4: 2.441rem;

$text-h5: 1.953rem;

$text-h6: 1.563rem;

$text-h7: 1.25rem;

$text-h8: 1rem;

$text-h9: 0.85rem;

$text-h10: 0.64rem;

$text-h11: 0.512rem;

